{% extends "base.html" %}

{% block title %}Dashboard{% endblock %}
{% block content %}
<div class="page-heading header-text">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <span class="breadcrumb"><a href="{% url 'index' %}">Home</a> / Dashboard</span>
          <h3>Welcome to your Dashboard</h3>
        </div>
      </div>
    </div>
  </div>

<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h1>Welcome to your Dashboard</h1>
      <p>You are logged in!</p>
    </div>
  </div>
</div>
{% endblock %}