{% extends "base.html" %}
{% block title %}Login{% endblock %}
{% block content %}
<div class="page-heading header-text">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <span class="breadcrumb"><a href="{% url 'index' %}">Home</a> / login</span>
        <h3>Login</h3>
      </div>
    </div>
  </div>
</div>

<div class="my-4">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 offset-lg-3">
          <div class="contact-form">
          <form action="{% url 'login' %}" method="POST">
            {% csrf_token %} {% if messages %} {% for message in messages %}
            <div
              class="alert {% if 'error' in message.tags %} alert-danger {% elif 'success' in message.tags %} alert-success {% elif 'warning' in message.tags %} alert-warning {% else %} alert-info {% endif %} alert-dismissible fade show"
              role="alert"
            >
              {{ message }}

              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="alert"
              ></button>
            </div>
            {% endfor %} {% endif %}

            <div class="mb-3">
              <label class="form-label">Username</label>
              {{ form.username }} {% if form.username.errors %}
              <div class="text-danger">{{ form.username.errors }}</div>
              {% endif %}
            </div>

            <div class="mb-3">
              <label class="form-label">Password</label>
              {{ form.password }} {% if form.password.errors %}
              <div class="text-danger">{{ form.password.errors }}</div>
              {% endif %}
            </div>

            <button type="submit" class="btn btn-primary w-100">Login</button>
            <p class="mt-3">
              Don't have an account?
              <a href="{% url 'register' %}">Register here</a>
            </p>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
