{% extends 'base.html' %}
{% load static %}
{% load humanize %}

{% block title %}Search Results{% endblock %}
{% block content %}
  <div class="page-heading header-text">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <span class="breadcrumb"><a href="{% url 'index' %}">Home</a> / Search</span>
          <h3>Search Results</h3>
        </div>
      </div>
    </div>
  </div>

  <div class="section properties">
    <div class="container">
      <h2 class="text-center mb-4">Properties matching your criteria</h2>
      <form action="{% url 'search' %}" method="get">
        <div class="row">
          <div class="col-lg-4 col-md-6 align-self-center mb-3">
            <input type="text" name="keywords" class="form-control" placeholder="Search by keyword..." value="{{ values.keywords }}">
          </div>
             <div class="col-lg-4 col-md-6 align-self-center mb-3">
            <input type="text"  name="city" class="form-control" placeholder="City" value="{{ values.city }}">
          </div>
          <div class="col-lg-4 col-md-6 align-self-center mb-3">
        <select name="property_type" class="form-control">
{% for key, value in property_type.items %}
              <option value="{{ key }}" {% if request.GET.property_type == key %}selected{% endif %}>{{ value }}</option>
{% endfor %}
            </select>
          </div>
          {% comment %} <div class="col-lg-4 col-md-6 align-self-center mb-3">
             <select name="price" class="form-control" placeholder="Price">
{% for key, value in price_choices.items %}
              <option value="{{ key }}" {% if request.GET.price == key %}selected{% endif %}>{{ value }}</option>
{% endfor %}
            </select>
          </div> {% endcomment %}
          <div class="col-sm-12 align-self-center my-2">
            <button type="submit" class="btn btn-primary btn-block w-100">Search</button>
          </div>
        </div>
      </form>


      <div class="row properties-box">
         {% if properties %}
          {% for property in properties %}
            <div class="col-lg-4 col-md-6 align-self-center mb-30 properties-items col-md-6 {{ property.property_type|lower }}">
              <div class="item">
                <a href="{% url 'property' property.id %}"><img src="{{ property.thumbnail.url }}" alt=""></a>
                <span class="category">{{ property.property_type }}</span>
                <h6>${{ property.price|floatformat:0|intcomma }}</h6>
                <h4><a href="{% url 'property' property.id %}">{{ property.title }}</a></h4>
                <ul>
                  <li>Bedrooms: <span>{{ property.bedrooms }}</span></li>
                  <li>Bathrooms: <span>{{ property.bathrooms }}</span></li>
                  <li>Area: <span>{{ property.area }}m2</span></li>
                  <li>Floor: <span>{{ property.floor }}</span></li>
                  <li>Parking: <span>{{ property.parking }} spots</span></li>
                </ul>
                <div class="main-button">
                  <a href="{% url 'property' property.id %}">Schedule a visit</a>
                </div>
              </div>
            </div>
          {% endfor %}
        {% else %}
          <div class="col-12">
            <h4>No properties found.</h4>
          </div>
        {% endif %}
       
      </div>
    </div>
</div>    
{% endblock %}